beautifulsoup4
newsapi-python
certifi
cffi 
chardet
click
cryptography 
Flask
lxml
html5lib 
idna 
itsdangerous
Jinja2
MarkupSafe
pillow
pycparser 
pyOpenSSL 
requests 
soupsieve
urllib3 
webencodings
Werkzeug
