{% extends "base.html" %}

{% block container %}

    {% for article in articles %}
        <div class="card ws">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-1">
                        <img class="card-img" src="{{ article.urlToImage }}" alt="No image">
                    </div>
                    <div class="fd col-sm-10">
                        <h5 class="card-title">{{ article.title }}</h5>
                        {% if article.description %}
                            {% set desc = article.description|truncate_text(129) %}
                        {% set url = article.url %}
                        {% else %}
                            {% set desc = '' %}
                        {% endif %}
                        <p class="card-text">{{ desc }}</p>
                        <a href="/articles/?url={{ url }}" class="Button btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
