{% extends "base.html" %}

{% block header %}

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='css.css') }}>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

{% endblock %}

{% block menu %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LatestNews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">{{ menu[0] }}<span
                            class="sr-only">(current)</span></a>
                </li>
                {% for item in range(1, menu|length) %}
                    <li class="nav-item">
                        <a href="/topics/{{ menu[item] }}/" class="nav-link">{{ menu[item] }}</a>
                    </li>
                {% endfor %}
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET">
                <input class="form-control mr-sm-3" type="text" aria-label="search" name="query">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

{% endblock %}

{% block topics %}

    <div class="col-sm-1">
        <button type="button" class="btn btn-outline-info" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Categories
        </button>
        <div class="dropdown-menu">
            {% for category in categories|sort() %}
                <a class="dropdown-item" href="/topics/{{ category }}">{{ category }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block flash %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
